<h1>nada/h1>
    objectName
    <ul>
        <% objectName.forEach(function(Mascotas) { %>
            <li>
                <strong><%= objectName.object_searched %></strong>
                $ <%= objectName.price_searched %>
            </li>     
        <% }); %>   
    </ul>