<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Add new Product</h1>
            <h5>Fill in all the square to add a new product</h5>
                <form action="/" method="post">
                <label>Add Object:</label>
                <input type="text" name="title" id="object_searched" />
                <br/>
                <br/>
                <label>Add Price:</label>
                <input type="text" name="price" id="price_searched" />
                
                
                <br/>
                <input  type="submit" value="Submit" id="submite" />
              </form>
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>